body {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: bold;
	color: #000;
	background:#000 url("../images/bg.jpg") no-repeat top center;
	font-size: 14px;
}

.btn {
	display: inline-block;
	padding: 15px 35px;
	margin-right: 20px;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	background-color: black;
	border: none;
	transition: ease 0.3s;
	cursor: pointer;
}

.btn:hover:not([disabled]) {
	background-color: #663d15;
	transition: ease-in-out 0.3s;
}

.btn:disabled {
	opacity: 0.5;
	cursor: default;
}

.top-header {
	background-color: #000;
	color: #fff;
	font-size: 16px;
	margin-bottom: 55px;
}

.container {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	display: block;
	clear:both;
}

.nav {
	width: 780px;
	float: left;
}

.nav ul {
	margin: 0;
	padding: 0;
}

.nav--list {
	list-style: none;
	font-size: 0px;
	display: inline-block;
}

.nav--item {
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	vertical-align: baseline;
}

.nav--item a {
	display: block;
	color: #fff;
	padding: 25px 20px;
	text-decoration: none;
	text-transform: uppercase;
	transition: ease 0.3s;
}

.nav--item a:hover {
	background-color: #242424;
	transition: ease 0.3s;
}

.nav--item_active a:after {
	width: auto;
	height: 5px;
	background-color: #fff;
}

.logo {
	min-width: 150px;
	display: inline-block;
	line-height: 20px;
}

.logo img {
	vertical-align: bottom;
}

.enter {
	float: right;
	position: relative;
}

.enter--link::before {
	content: '';
	display: block;
	position: absolute;
	width: 18px; 
	height: 16px;
	background-image: url("../images/sprites.png");
	background-position: -5px -118px;
	background-repeat: no-repeat;
	left: 20px;
	bottom: 25px;
	transition: ease 0.3s;
	cursor: pointer;
}

.enter--link:hover::before {
	content: '';
	display: block;
	position: absolute;
	width: 18px; 
	height: 16px;
	background-image: url("../images/sprites.png");
	background-position: -5px -150px;
	left: 20px;
	bottom: 25px;
	transition: ease-in-out all 0.3s;

}

.enter--link {
	display: inline-block;
	line-height: 20px;
	padding: 25px 20px;
	padding-left: 48px;
	text-decoration: none;	
	text-transform: uppercase;
	color: #fff;
}

.enter:hover {
	background-color: #242424;
}

.logo-container {
	width: 368px;
	text-align: center;
	margin: 0 auto;
	min-height: 204px;
	margin-bottom: 20px;;
}

.features {
	margin-bottom: 65px;
	color: #fff;
}

.feature-item {
	width: 300px;
	float: left;
	margin-right: 20px;
	text-align: center;
	text-transform: uppercase;
}

.feature-item:last-child {
	margin-right: 0;
}

.feature-item--head {
	padding-bottom: 75px;
	position: relative;
	font-size: 30px;
	font-weight: 700;
	display: inline-block;
}

.feature-item--head::after {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -10px;
	background-color: #fff;
	transform: rotate(45deg);
}

.feature-item--desc {
	margin: 0;
	padding: 0 25px;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}

.index-content {
	padding: 80px 50px;
	margin-bottom: 35px;
	background: url("../images/divider.png") no-repeat center,
				url("../images/bg-pattern.jpg") repeat center;
}

.index-content p {
	margin-bottom: 25px;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
}

.index-content--header {
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 700;
}

.index-content--left {
	width: 380px;
	float: left;
}

.news-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.news-list--item {
	margin-bottom: 30px;
}

.news-list--item p {
	margin: 0;
	padding: 0;
}

.news-list--item time {
	font-weight: 400;
	text-transform: none;
}

.index-content--right {
	width: 300px;
	float: right;
}

.gallery {
	position: relative;
	min-height: 260px;
}

.gallery-img {
	margin: 0;
	padding: 0;
}

.gallery-img img {
	border: 7px solid white;
}

.btn-prev {
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 0;
	padding: 15px 50px;
}
.btn-next {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 15px 50px;
}

.f-appointment input {
	width: 140px;
	height: 45px;
	margin-right: 20px;
	margin-left: -2px; /* weird spacing fix */ 
	margin-bottom: 20px;
	padding: 15px;
	box-sizing: border-box;
	border: 2px solid black;
	text-transform: uppercase;
	color: #000;
}

.f-appointment input:focus {
	border-color: #663d15;
	outline: 0;
}

.f-appointment input:nth-child(2n) {
	margin-right: 0;
}

.f-appointment .btn {
	width: 100%;
} 

.footer {
	padding-top: 60px;
	padding-bottom: 40px;
	background: #222 url("../images/bg-footer.jpg") repeat;
	color: white;
}

.footer p {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 24px;
}

.footer--info {
	width: 380px;
	float: left;
	margin-right: 20px;
}

.footer--info a {
	color: white;
}

.footer--socials {
	width: 180px;
	float: left;
	text-align: center;
}

.socials--link {
	display: inline-block;
	width: 23px;
	height: 23px;
	margin-left: 3px; 
	margin-right: 3px;
	padding: 10px;
	font-size: 0;
	background-color: #000;
}

.socials--link_vk {
	background: #000 url("../images/sprites.png") no-repeat 6px -340px;
	transition: ease 0.3s;
}

.socials--link_vk:hover {
	background: #fff url("../images/sprites.png") no-repeat 6px -378px;
	transition: ease 0.3s;
}

.socials--link_fb {
	background: #000 url("../images/sprites.png") no-repeat 6px -175px;
	transition: ease 0.3s;
}

.socials--link_fb:hover {
	background: #fff url("../images/sprites.png") no-repeat 6px -217px;
	transition: ease 0.3s;
}

.socials--link_inst {
	background: #000 url("../images/sprites.png") no-repeat 6px -254px;
	transition: ease 0.3s;
}

.socials--link_inst:hover {
	background: #fff url("../images/sprites.png") no-repeat 6px -298px;
	transition: ease 0.3s;
}

.footer--devs {
	min-width: 140px;
	float: right;
	text-align: center;
}

.footer--devs .btn {
	margin: 0;
}

.popup {
	display: none;
	position: fixed;
	top: 120px;
	left: 50%;
	width: 460px;
	padding: 55px 80px;
	box-sizing: border-box;
	margin-left: -230px;
	background:#f8f5f2 url("../images/bg-pattern.jpg") repeat;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.75);
	z-index: 5;
	color: #000;
}



.popup-heading {
	margin: 0;
	padding: 0;
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 27px;
}

.popup p {
	margin: 0;
	padding: 0;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.f-login-form input[type="text"],
.f-login-form input[type="password"] {
	display: block;
	width: 300px;
	padding-right: 40px;
	margin-bottom: 10px;
	background-color: #f9f6f3;
	border: 2px solid #000;
	text-transform: uppercase;
	color: #000;
	padding: 12px;
	line-height: 15px;
	box-sizing: border-box;
}

.f-login-form input[type="text"]:focus,
.f-login-form input[type="password"]:focus {
	border-color: #663d15;
	outline: 0;
}

.f-login-form .btn {
	width: 100%;
	margin-bottom: 3px;
}

.f-login-form .remember {
	display: inline-block;
	position: relative;
	text-align: left;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 10px;
	cursor: pointer;
}

.f-login-form input[type="checkbox"] {
	display: none;
}


.f-login-form .remember::after {
	content: '';
	display: inline-block;
	margin-right: 10px;;
	float: left;
	width: 20px;
	height: 20px;
	position: relative;
	top: -3px;
	border: 2px solid black;
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
}

.f-login-form input[type="checkbox"]:checked + label::before{
	content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    top: 3px;
    left: 6px;
    background: url("../images/sprites.png") no-repeat -9px -12px;
    cursor: pointer;
}

.popup--forgot {
	text-transform: uppercase;
	color: #000;
	float: right;
}

.close-button {
	position: absolute;
	right: -38px;
	top: 0px;
	font-size: 0;
	border: 0;
	outline: 0;
	padding: 0;
	width: 25px;
	height: 24px;
	background: 0;
}

.close-button::before,
.close-button::after {
	content: '';
	display: block;
	position: absolute;
	width: 17px;
	border-radius: 15%;
	height: 3px;
	background-color: #d1d1d1;
}

.close-button::before {
	transform: rotate(-45deg);
}

.close-button::after {
	transform: rotate(45deg);
}


.f-login-form .icon-user {
	content: '';
	display: block;
	position: relative;
	background: #000 url("../images/sprites.png") no-repeat 260px -452px;
	width: 15px;
}

.f-login-form .icon-password {
	content: '';
	display: block;
	position: relative;
	background: #000 url("../images/sprites.png") no-repeat 260px -414px;
	width: 15px;
}

.popup-map {
	display: none;
	position: fixed;
	height: 450px;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -230px;
    border: 5px solid #fff;
    z-index:10;
}

.popup-overlay {
	content: '';
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 4;
	display: none;
}

/*  popup animations */

@keyframes fade-in {
	0% { opacity: 0; }
	70% { opacity: 1; }
}

.popup-overlay-show {
	display: block;
}

.popup-show {
	display: block;
	animation: fade-in 1.2s;
}

/* Item Page */

.inner-body {
	background:#f8f5f2 url("../images/bg-pattern.jpg") repeat;
}

.main-content--header {
	margin-top: 55px;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: auto;
}

.header-container {
	text-transform: uppercase;
	margin-bottom: 45px;
}

.breadcrumbs {
}

.breadcrumbs-list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 14px;
}

.breadcrumbs-list--item {
	display: inline-block;
	padding-right: 30px;
	position: relative;
}

.breadcrumbs-list--item a {
	color: black;
	text-decoration: none;
}

.breadcrumbs-list--item a:hover {
	color: black;
	text-decoration: underline;
}

.breadcrumbs-list--item:not(:last-child)::after {
	content: '';
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: black;
	transform: rotate(45deg);
	left: 15px;
	position: relative;
}

.breadcrumbs-list--item:last-child {
	opacity: 0.5;
}

.item-gallery {
	width: 480px;
	float: left;
	margin-right: 90px;
	margin-bottom: 50px;
}

.item-gallery--big {
	width: 100%;
	margin-bottom: 20px;
}

.item-gallery--small,
.item-gallery--small img { /* floated "img"s fix inline space problem*/
	width: auto;
	float: left;
	margin-right: 20px;
}

.item-gallery img {
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	transition: ease 0.5s;
}

.item-gallery img:hover {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
	transition: ease 0.5s;
}

.item-gallery--small img:last-child {
	margin-right: 0px;
}

.item-desc {
	width: 380px;
	padding: 5px;
	float: left;
	margin-bottom: 35px;
	margin-top: 25px;
}

.item-desc p {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
}

.item-desc ul,
.item-desc ol {
	margin: 0;
	padding: 0;
}

.item-desc--meta {
	margin-bottom: 40px;
}

.item-desc--meta .available {
	float: left;
}

.item-desc--meta .articulus {
	float: right;
	color: #d5d4d2;
}

.item-desc--description {
	margin-bottom: 40px;
}

.buy {
	width: 190px;
}

.buy--price {
    display: block;
    float: left;
    width: 110px;
    max-height: 48px;
    box-sizing: border-box;
    padding: 15px 25px;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #e5e5e5;
}



.buy--btn {
	display: block;
	margin-left: -3px;
	margin-right: 0;
	float: right;
	box-sizing: border-box;
	padding: 15px;
	min-width: 80px;
	text-align: center;
	max-height: 48px;
}

.item-ingredients {
	min-width: 250px;
}

.item-ingredients--list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.item-ingredients--heading {
	margin-bottom: 35px;
	margin-top: 60px;
	text-transform: uppercase;
}

.item-ingredients--item {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 24px;
	padding-left: 10px;
	position: relative;
}

.item-ingredients--item::before {
	display: inline-block;
	content: '';
	width: 8px;
	height: 8px;
	background-color: black;
	transform: rotate(45deg);
	position: relative;
	right: 10px;
}

/* Catalog (Shop) page */

.filters {
	width: 220px;
	margin-right: 10px;
	float: left;
}

.filters section,
.filter-brands,
.filter-categories {
	max-width: 220px;
	margin-bottom: 50px;
	
}

.filter-header {
	margin-bottom: 25px;
	font-size: 24px;
	line-height: 42px;
	text-transform: uppercase;
}

.filters ul, 
.filters ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

.filters li {
	text-transform: uppercase;
	margin-bottom: 18px;
	position: relative;
}

.filter-brands input,
.filter-categories input {
	display: none;
}

.filter-radio,
.filter-checkbox {
	cursor: pointer;
}

.filter-radio::before {
	content: '';
	display: inline-block;
	margin-right: 23px;;
	float: left;
	width: 20px;
	height: 20px;
	position: relative;
	top: -3px;
	border: 2px solid black;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 50%;
}

.filter-checkbox::before {
	content: '';
	display: inline-block;
	margin-right: 23px;;
	float: left;
	width: 20px;
	height: 20px;
	position: relative;
	top: -3px;
	border: 2px solid black;
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
}

.filter-categories--category input:checked + label::after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	top: 4px;
	left: 7px;
	border-radius: 50%;
	background-color: #000;
	cursor: pointer;
}

.filter-brands--item input:checked + label::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    top: 3px;
    left: 6px;
    background: url("../images/sprites.png") no-repeat -9px -12px;
    cursor: pointer;
}

.content-container {
	width: 700px;
	float: left;
	margin-bottom: 50px;
}

.catalog {
	width: 700px;
	float: left;
	margin-bottom: 40px;
}

.catalog-item {
	width: 220px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #fff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	transition: ease 0.6s;
}

.catalog-item:hover {
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
	transition: ease 0.5s;
}

.catalog-item:nth-child(3n) {
	margin-right: 0;
}

.catalog-item--header { 		/* it's a link in header, actually*/
	display: block;
	margin-bottom: 15px;
	color: black;
	text-decoration: none;
}

.catalog-item--header_brand {
	display: block;
	text-transform: uppercase;
}

.catalog-item--desc {
	font-size: 14px;
	line-height: 18px;
	position: relative;
	padding: 15px;
}

.catalog-item--desc .buy {
}

.pagination {
	float: left;
}

.pagination--page {
	display: inline-block;
	width: 45px;
	line-height: 45px;
	margin-right: 5px;
	vertical-align: baseline;
	text-align: center;
	text-decoration: none;
	background-color: black;
	color: white;
	transition: ease 0.3s;
}

.pagination--page_active {
	background-color: white;
	color: black;
	cursor: default;
}

.pagination--page:not(.pagination--page_active):hover {
	background-color: #663d15;
	transition: ease 0.3s;
}

/* Pricelist Page */

.price-promo {
	margin: 0 auto;
	text-align: center;
	margin-bottom: 53px;
}

.price-promo h2 {
	display: inline-block;
	position: relative;
	z-index: 2;
	margin: 0;
	padding: 0 25px;
	font-size: 48px;
	line-height: 62px;
	text-transform: uppercase;
	background: #f8f5f2 url("../images/bg-pattern.jpg") repeat;
}

.price-promo::after {
	display: block;
	position: relative;
	content: ' ';
	border-bottom: 2px solid #000;
	top: -31px;
	z-index: 1;
}

.desc-heading {
	margin: 0;
	margin-bottom: 35px;
	padding: 0;
	font-size: 24px;
	text-transform: uppercase;
}

.desc-block {
	margin-bottom: 65px;
}

.desc-block p {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 24px;
}

.desc-left {
	width: 380px;
	margin-right: 100px;
	float: left;
}

.desc-left li {
	margin-bottom: 17px;
}

.desc-right {
	width: 460px;
	float: left;
}

.price {
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
}

.price td {
	width: 50%;
	text-transform: uppercase;
	font-size: 14px;
	border: 2px solid #000;
	padding: 15px 17px;
}

.price td:nth-child(even) {
	text-align: center;
}



